@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="~/Content/Gallery.css">
</head>

<body>
    <div>
        <img src="~/Content/Images/Galleryimage/about.jpg" width="100%">
    </div>
   
    <br /><br />
          <div style="background-color:white">
              <br /><br />
              <p class="page-description text-center">
                  Our Company is a wedding and event Management Company running successfully from past few years.
                  We are classy, rich, flamboyant and pocket friendly organisation that makes client’s dream as our own.
              </p> <br /><br />
              <p class="page-description text-center">
                  We provide event management services to companies from different industries.

                  We have a vast vendor network of Hotels and partners who help us provide the best and most cost effective event services to our clients.

                  Our focus is to align your event objectives with modern concepts to deliver creative and engaging event experiences to your attendees.
              </p> <br /><br />
              <h3 class="text-center">OUR EVENT MANAGEMENT PHILOSOPHY</h3><br /><br />

              <p class="page-description text-center">
                  To make our clients event planning processes simple by offering reliable and impactful services.
                  The experience our clients get from working with us is always as important as the experience we deliver to
                  the events audiences.
              </p><br /><br />

              <h3 class="text-center">OUR EVENT MANAGEMENT STRATEGY </h3><br /><br />

              <p class="page-description text-center">
                  We identify key focus areas for every event we plan and consult you about what works best and what can
                  help you derive maximum return on your investment.
              </p><br /><br />

              <p class="page-description text-center">
                  Our approach is 2 pronged :
              </p><br /><br />
              <p class="page-description text-center">
                  1 ) We obviously suggest what we think would be best suited for your company’s event.
              </p><br /><br />
              <p class="page-description text-center">
                  2) We try and do it in a cost effective and budgeted manner.

                  This approach helps us meet your expectations in a more focused manner.
              </p><br /><br />

              <h3 class="text-center">OUR VISION </h3><br /><br />
              <p class="page-description text-center">
                  “To emerge as a premier Event management company delivering One Stop Solution across the globe.”
              </p><br /><br />

              <h3 class="text-center">OUR MISSION </h3><br /><br />
              <p class="page-description text-center">
                  “To assist our clients achieve their objective through the development and execution of customized & meticulously planned events.”
              </p><br /><br />

              <h3 class="text-center">OUR SERVICES </h3><br /><br />
             <p class="page-description text-center">
               Event management, Weeding Planning, Birthday Parties, Event organizing for conference and more
             </p><br /><br />



          </div>
</body>
</html>


