<!DOCTYPE HTML>
<html>
<head>
    <style>
        body {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <hr>
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10">
                <h1>User name</h1>
            </div>
            <div class="col-sm-2">
               <img title="profile image" class="pull-right img-circle img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png">
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">
                <!--left col-->

                <ul class="list-group">
                    <li class="list-group-item text-muted">Profile</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span>xyz11@gmail.com</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>City</strong></span>Pune</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Contact No</strong></span>5412365214</li>

                </ul>

               

            </div>
            <!--/col-3-->
            <div class="col-sm-8">

                @*<ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
            <li><a href="#messages" data-toggle="tab">Messages</a></li>
            <li><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>*@

                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered	">
                                @*<thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Label 1</th>
                                        <th>Label 2</th>
                                        <th>Label 3</th>
                                        <th>Label </th>
                                        <th>Label </th>
                                        <th>Label </th>
                                    </tr>
                                </thead>*@
                                <tbody id="items">
                                    <tr>
                                        <td>1</td>
                                        <td>Booking Id</td>
                                        <td>123</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Event Name</td>
                                        <td>Weeding</td>
                                       
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Event Venue</td>
                                        <td>Indore</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Event Date</td>
                                        <td>03/02/2020</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Event Time</td>
                                        <td>01.00.00</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Approved Status</td>
                                        <td>Confirmed</td>
                                        
                                    </tr>
                                    
                                </tbody>
                            </table>
                       
                           
                        </div>
                        <!--/table-resp-->

           

           </div>         

        </div>
              </div>
        <!--/col-9-->
    </div>
    <!--/row-->
    </div>
</body>
</html>